.animal{
    /* border: 2px solid black; */
    margin: 1rem auto;
    width: fit-content;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    /* border: 1px solid black; */

}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
}
.image img{
    width: 400px;
    height: 250px;
}
.description{
    /* border: 1px solid blue; */
    text-align: left;
    margin: 1rem 0;

}
.title{
    margin: auto;
}